
<div id="react">
?	
</div>

<%# React-Rails Gem that makes it SEO friendly %>

<%= react_component('NewMain', props: {}, prerender: true ) %>

<%= react_component('NewMain2', props: {}, prerender: true ) %>
